In [6]:
import mysql.connector                 # Importamos las librarias necesarias
from mysql.connector import errorcode

In [7]:
try:
    # nos conectamos al servidor de mysql, no especificamos schema porque vamos a crearlo
    
    cnx = mysql.connector.connect(
        user='root',
        password= input('password_MySQL'),
        host='127.0.0.1'
        # auth_plugin = 'mysql_native_password'
    )
    print("¡Conexión exitosa a MySQL!") #
except mysql.connector.Error as err:
    # Si es un error de acceso denegado (ej. contraseña o usuario incorrecto)
    if err.errno == errorcode.ER_ACCESS_DENIED_ERROR:
        print("Algo está mal con tu nombre de usuario o contraseña.") #
    # Si la base de datos no existe
    elif err.errno == errorcode.ER_BAD_DB_ERROR:
        print("La base de datos no existe.") #
    # Para cualquier otro tipo de error
    else:
        print(err) #
        print("Código de Error:", err.errno) #
        print("SQLSTATE", err.sqlstate) #
        print("Mensaje", err.msg) #

¡Conexión exitosa a MySQL!

In [8]:
mycursor = cnx.cursor() # Iniciamos el cursor
mycursor.execute("CREATE SCHEMA IF NOT EXISTS musicstream;") # creamos schema
mycursor.execute("USE musicstream") # nos movemos al schema que acabamos de crear
# abrimos el cursor asociado a esta conexión

In [9]:
mycursor = cnx.cursor() 
# abrimos el cursor asociado a esta conexión

In [ ]:
## Tabla artistas

tabla_artista = """CREATE TABLE IF NOT EXISTS artistas (
      id_artista INT NOT NULL AUTO_INCREMENT,
      nombre_artista VARCHAR(50) NULL,
      popularidad INT NULL,
      reproducciones INT NULL,
      bio LONGTEXT NULL,
      PRIMARY KEY (`id_artista`),
      UNIQUE INDEX `id_artista_UNIQUE` (`id_artista` ASC) VISIBLE,
      UNIQUE INDEX `nombre_artista_UNIQUE` (`nombre_artista` ASC) VISIBLE)
      ENGINE = InnoDB;"""

mycursor.execute(tabla_artista)
cnx.commit()
print("Tabla creada correctamente")

Tabla creada correctamente

In [11]:
## Tabla genero

tabla_genero = """CREATE TABLE IF NOT EXISTS genero (
        id_genero INT NOT NULL AUTO_INCREMENT,
        nombre_genero VARCHAR(45) NOT NULL,
        PRIMARY KEY (`id_genero`),
        UNIQUE INDEX `nombre_genero_UNIQUE` (`nombre_genero` ASC) VISIBLE)
        ENGINE = InnoDB;"""

mycursor.execute(tabla_genero)
cnx.commit()
print("Tabla creada correctamente")

Tabla creada correctamente

In [12]:
## Table canciones

tabla_canciones = """CREATE TABLE IF NOT EXISTS canciones (
        id_cancion INT NOT NULL AUTO_INCREMENT,
        nombre_cancion VARCHAR(250) NOT NULL,
        año_lanzamiento YEAR(4) NULL,
        id_genero INT NOT NULL,
        id_artista INT NOT NULL,
        PRIMARY KEY (`id_cancion`),
        INDEX `fk_canciones_genero1_idx` (`id_genero` ASC) VISIBLE,
        INDEX `fk_canciones_artistas1_idx` (`id_artista` ASC) VISIBLE,
        CONSTRAINT `fk_canciones_genero1`
        FOREIGN KEY (`id_genero`)
        REFERENCES `musicstream`.`genero` (`id_genero`)
        ON DELETE NO ACTION
        ON UPDATE NO ACTION,
        CONSTRAINT `fk_canciones_artistas1`
        FOREIGN KEY (`id_artista`)
        REFERENCES `musicstream`.`artistas` (`id_artista`)
        ON DELETE NO ACTION
        ON UPDATE NO ACTION)
        ENGINE = InnoDB;"""

mycursor.execute(tabla_canciones)
cnx.commit()
print("Tabla creada correctamente")

Tabla creada correctamente

In [14]:
## Tabla artistas similares

tabla_artistas_similares = """CREATE TABLE IF NOT EXISTS artistas_similares (
        id_artistas_similar INT NOT NULL AUTO_INCREMENT,
        nombre_artistas_similar VARCHAR(250) NULL,
        PRIMARY KEY (`id_artistas_similar`))
        ENGINE = InnoDB;"""

mycursor.execute(tabla_artistas_similares)
cnx.commit()
print("Tabla creada correctamente")

Tabla creada correctamente

In [17]:
## Tabla FK_artistas_artistas_similares

tabla_FK_artistas_artistas_similares = """CREATE TABLE IF NOT EXISTS FK_artistas_artistas_similares (
        id_artistas_similar INT NOT NULL,
        id_artista INT NOT NULL,
        PRIMARY KEY (`id_artistas_similar`, `id_artista`),
        INDEX `fk_artistas similares_has_artistas_artistas1_idx` (`id_artista` ASC) VISIBLE,
        INDEX `fk_artistas similares_has_artistas_artistas similares_idx` (`id_artistas_similar` ASC) VISIBLE,
        CONSTRAINT `fk_artistas similares_has_artistas_artistas similares`
          FOREIGN KEY (`id_artistas_similar`)
          REFERENCES artistas_similares (`id_artistas_similar`)
          ON DELETE NO ACTION
          ON UPDATE NO ACTION,
        CONSTRAINT `fk_artistas similares_has_artistas_artistas1`
          FOREIGN KEY (`id_artista`)
          REFERENCES artistas (`id_artista`)
          ON DELETE NO ACTION
          ON UPDATE NO ACTION)
      ENGINE = InnoDB;"""

mycursor.execute(tabla_FK_artistas_artistas_similares)
cnx.commit()
print("Tabla creada correctamente")

Tabla creada correctamente

In [18]:
mycursor.close()
cnx.close()

In [ ]:
# Abrir el CSV -- codigo de ejemplo, habrá que modificar
with open("canciones_pop_2010_2015.csv", newline='', encoding='utf-8') as csvfile:
    reader = csv.DictReader(csvfile)
    for row in reader:
        cursor.execute("""
            INSERT INTO canciones (artist_name, song_name, genre, year)
            VALUES (%s, %s, %s, %s)
        """, (row["artist_name"], row["song_name"], row["genre"], row["year"]))

conn.commit()
cursor.close()
conn.close()

print("Datos insertados correctamente en MySQL")